main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

/* Month name */
#month {
  margin-top: 10px;
  font-size: 1.5em;
}

/* Calender */
#calendar {
  border-collapse: collapse;
}

/* Weekday header */
.weekday-header {
  width: 8.5vw;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #2d2d2d;
  color: white;
}

/* All calender dates */
.calendar-day {
  /* Remove the default styling of HTML button */
  all: unset;
  display: inherit;
  width: 8.5vw;
  height: 12vh;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* Today */
.today {
  color: red;
}

/* Dates in previous month and next month */
.previous-month,
.next-month {
  background-color: #e4e4e4;
  color: rgb(117, 117, 117);
}

/* Dates selected */
.calendar-day.workout {
  background-color: #667ccb;
  color: white;
}

.weekly-achievement {
  width: 10vw;
}
